body {
}

.smallerMargin {
    margin-bottom: 0em;
}

.iconLink {
    border-bottom:none !important;
}


.clickable {
    cursor:pointer !important;
}

.imageLeft {
    margin-left:2em !important;
    margin-top: 1em;
    margin-bottom:0em;
    margin-right:2em;
}

.ccLogo {
    height:12px !important;
}


