body {
}

.iconLink {
    border-bottom:none !important;
}


.clickable {
    cursor:pointer !important;
}

.imageLeft {
    margin-left:0em !important;
    margin-right:3em;
}

/*.bankImg {
    max-height: 200px !important;
}*/

/*.bandsInVans {
    background-color: #2A1212;
}

.bankAccount {
    background-color: #1E1E1E;
}*/


